<% meme ||= meme_medium %>
<% meme_type ||= meme.meme_type %>
<% no_link ||= false # show the link by default %>
<% no_flag ||= false # show flagging by default %>
<% url = no_link ? "javascript:void(0)" : url_for(meme_path(meme)) %>
<% title = meme.try(:link_title) %>
<% meme_rb_id ||= nil %>
<% memetype_rb_id ||= nil %>
<% if meme_rb_id.present? 
     button = "<small>#{radio_button("memetype_association", "meme_id", meme_rb_id)}</small>".html_safe
   elsif memetype_rb_id.present?
     button = "<small>#{radio_button("typememe_association", "meme_type_id", memetype_rb_id)} </small>".html_safe 
   end 
%>
<% caption = JSON.parse(meme.meme_caption) %>

<article class="meme medium thumbnail col-md-4 col-xs-12">
  <% unless (title.nil? && no_link) %>
  <h4><%= button %><%= link_to (title || "(untitled)"), url %></h4>
  <% end %>
  <div class="template">
    <img src="<%= image_path(meme_type.template(:medium)) %>" alt="<%= meme_type.name %>" />
    <p class="top text-center"><%= caption[0] %></p>
    <p class="bottom text-center"><%= caption[1] %></p>
  </div>
  <%= render(partial: "memes/flag", object: meme) unless no_flag %>
</article>

