<h3>Top 5 Best Types</h3>
<ol id="best_types">
  <% @best_types.each do |best,score| %>
    <li>
    <%= render partial: "meme_types/meme_type", object:best["data"], locals: { overlay: best["score"] } %>
    </li>
  <% end %>
</ol>

<br style="clear: both;" />

<h3>Cohesion</h3>
<p><em>"Cohesion" because, since all of these meanings are emergent, this represents how much your own assessments are consistent with the greater community. It's not really "right" or "wrong".</em></p>
<table id="stats">
<thead>
  <tr>
    <th>Game</th>
    <th>Correct</th>
    <th>Attempts</th>
    <th>Accuracy</th>
  </tr>
</thead>
<tbody>
<tr>
  <th>Which Text Fits?</th>
  <td><%= single_user_stats_table.memetype_associations_correct %></td>
  <td><%= single_user_stats_table.memetype_associations_count %></td>
  <td><%= number_with_precision(single_user_stats_table.memetype_accuracy*100, precision: 2) %>%</td>
</tr>
<tr>
  <th>Which Meme Fits?</th>
  <td><%= single_user_stats_table.typememe_associations_correct %></td>
  <td><%= single_user_stats_table.typememe_associations_count %></td>
  <td><%= number_with_precision(single_user_stats_table.typememe_accuracy*100, precision: 2) %>%</td>
</tr>

</td>
</table>