<tr id="user-<%= stats_row.id %>" class="<%= 'mine' if(user_signed_in? && stats_row.id == current_user.id) %>">
  <td><%= link_to stats_row.name, user_path(stats_row) %></td>
  <td><%= pretty_accuracy(stats_row.memetype_accuracy) %></td>
  <td><%= pretty_accuracy(stats_row.typememe_accuracy) %></td>
</tr>