<div class="row">
  <div class="col-md-12">
        <h1>My Info</h1>
  </div>
  
  <div class="col-md-3 col-sm-4 col-xs-12 right">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">About Me</h2>
    </div>
  <p class="panel-body">This site has the following info   about me on file, but other users can't see it:</p>
    <ul class="list-group">
      <li class="list-group-item">My real name: <%= @user.name %></li>
      <li class="list-group-item">My email: <%= @user.email %></li>
    </ul>
    </div>

    <div class="panel panel-default">
    <p class="panel-body">To others on this site, I appear as:</p>
    <ul class="list-group">
      <li class="list-group-item">My random fake name: <%= @user.fake_name %></li>
      <li class="list-group-item">My avatar: <%= render partial: "users/avatar", object: @user, locals: { small: true } %></li>
    </ul>
    </div>
  </div>

<div class="col-md-9 col-sm-8 col-xs-12">
  <%= render partial: "users/best_types", object: @best_types %>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">
<%= render partial: "users/cohesion_table", object: @user %>
</div>
