<h1><%= @user.fake_name %> <%= '(me)' if (user_signed_in? && current_user == @user) %></h1>
<%= render partial: "users/avatar", object: @user %>


<div class="col-md-9 col-sm-8 col-xs-12">
  <%= render partial: "users/best_types", object: @best_types %>

</div>

<div class="col-md-12 col-sm-12 col-xs-12">
<%= render partial: "users/cohesion_table", object: @user %>
</div>
