<div class="row">
<div class="col-md-12">

<h1>Which Meme Fits?</h1>

<p><strong>Choose the one the combination you think fits best.</strong></p>
<p>The caption is from a real meme, but only one of these images is the one that the creator chose for it. Can you figure out which it was?</p>


<%= form_for(@typememe_association, url: games_typememe_association_path, method: :post) do %>
  <% @meme_types.each do |meme_type| %>
      <label class="col-md-4 col-sm-6 col-xs-12">
      <%= render partial: "memes/meme_medium", object: @meme, locals: { meme_type: meme_type, no_link: true, memetype_rb_id: meme_type.id } %>
      </label>
  <% end %>
  <div class="col-xs-12">
  <%= hidden_field_tag "meme_id", @meme.id %>
  <%= hidden_field_tag "meme_type_ids", @meme_types.collect { |m| m.id }.join(",") %>
  <%= submit_tag "Submit & Play Again", class: "right btn btn-primary btn-lg" %>
  </div>
<% end %>

</div>
</div>