<h1>Meme->Type Association Game</h1>

<p>Which of these seems correct to you?</p>

<%= form_for(games_memetype_associations_path) do %>
  <% @memes.each do |meme| %>
    <div class="col-md-4">
      <label for="" style="margin: 0 auto; text-align: center;">
      <%= render partial: "memes/meme_medium", object: meme, locals: { meme_type: @meme_type, no_link: true } %>
      <div style="clear:both;">
      
        <%= radio_button "memetype_association", "meme_id", meme.id %> 
        <span>this one</span>
      
      </div>
      </label>
    </div>
  <% end %>
  <br style="clear:both;" />
  <%= hidden_field_tag "meme_type_id", @meme_type.id %>
  <%= hidden_field_tag "meme_ids", @memes.collect { |m| m.id }.join(",") %>
  <%= submit_tag "Next >" %>
<% end %>