<h1>Which Text Fits?</h1>

<p><strong>Choose the one the combination you think fits best.</strong></p>
<p>All three captions are from real memes, but only one was written for this meme type. Can you figure out which it was?</p>

<%= form_for(@memetype_association, url: games_memetype_association_path, method: :post) do %>
  <% @memes.each do |meme| %>
    <div class="col-md-4">
      <label for="" style="margin: 0 auto; text-align: center;">
      <%= render partial: "memes/meme_medium", object: meme, locals: { meme_type: @meme_type, no_link: true } %>
      <div style="clear:both;">
      
        <%= radio_button "memetype_association", "meme_id", meme.id %> 
        <span>this one</span>
      
      </div>
      </label>
    </div>
  <% end %>
  <br style="clear:both;" />
  <%= hidden_field_tag "meme_type_id", @meme_type.id %>
  <%= hidden_field_tag "meme_ids", @memes.collect { |m| m.id }.join(",") %>
  <%= submit_tag "Next >" %>
<% end %>
