<%- if @recent_news.count > 0 %>
<section id="news">
<h3>Recent Updates</h3>
<%- @recent_news do |news| %>
  <h4><%= news.title %></h4>
  <p><%= news.content %></p>
<%- end %>
</section>
<%- end %>

<section id="meme_type_collection">
<h3>Meme Type Collection</h3>
<table id="meme_type_stats">
  <thead>
    <tr><th>&nbsp;</th><th>Meme Type</th><th>Count</th></tr>
  </thead>
  <tbody>
    <%- @meme_types.each  do |mt| %>
      <tr>
        <td><%= image_tag mt.template.url(:tiny) %></td>
        <td><%= link_to mt.name, meme_type_path(mt) %></td>
        <td><%= mt.instance_count %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
</section>