<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Whichmeme" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Whichmeme" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script>
<%- if Rails.env.production? %>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54432906-1', 'auto');
  ga('require', 'linkid')
  ga('send', 'pageview');

<%- end %>
<%- if (flash[:track].present? && flash[:correct].present?) %>
    track_game_submission('<%= flash[:track] %>', '<%= flash[:correct] %>');
<%- end %>
</script>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= params[:controller].gsub(/[^A-Za-z0-9]/,"_") %>" class="<%= params[:action] %> <%= user_signed_in? ? 'signed_in' : '' %>">
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/user_data' if user_signed_in? %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <br style="clear:both;" />
    </main>
  </body>
</html>
